textarea {
  background-color: rgba(26, 26, 27, 0.8);
  resize: none;
  color: white;
}

.add--thread {
  display: flex;
  flex-direction: column;
}

.thread--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
